<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.claseipst51android2021cl.grupo4">
    <!-- Le otorge permisos de usuario -->
    <!-- Internet -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- Grabación -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/c"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ecos">
        <activity android:name=".MainActivityInicio"></activity>
        <activity android:name=".MainActivityCreaEco" />
        <activity android:name=".MainActivityRestablecerClave" />
        <activity android:name=".MainActivityAdmin" />
        <activity android:name=".MainActivityCompartirApp" />
        <activity android:name=".MainActivityUbicacion" />
        <activity android:name=".MainActivityListadoEco" />
        <activity android:name=".MenuActivityInvitado" />
        <activity android:name=".MainActivityRegistrarse" />
        <activity android:name=".MainActivitySesion" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>